* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none;
  border: none;
  text-decoration: none; */
}

body {
  background-color: #edd1af;
}

.header-image {
  background-image: url("img/header-image.jpg");
}
